=begin
#CBRAIN API

#API for interacting with the CBRAIN Platform

OpenAPI spec version: 5.1.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.4

=end

require 'uri'

module CbrainClient
  class BourreauxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a list of the Bourreaux available to be used by the current user.
    # This method returns a list of Bourreau objects. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number when paginating. See also the per_page parameter
    # @option opts [Integer] :per_page Size of each page when paginating. See also the page parameter
    # @return [Array<Bourreau>]
    def bourreaux_get(opts = {})
      data, _status_code, _headers = bourreaux_get_with_http_info(opts)
      data
    end

    # Get a list of the Bourreaux available to be used by the current user.
    # This method returns a list of Bourreau objects. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number when paginating. See also the per_page parameter
    # @option opts [Integer] :per_page Size of each page when paginating. See also the page parameter
    # @return [Array<(Array<Bourreau>, Fixnum, Hash)>] Array<Bourreau> data, response status code and response headers
    def bourreaux_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BourreauxApi.bourreaux_get ...'
      end
      # resource path
      local_var_path = '/bourreaux'

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BrainPortalSession']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Bourreau>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BourreauxApi#bourreaux_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get information about a Bourreau.
    # This method returns a single Bourreau object based on the ID parameter. 
    # @param id ID of the Bourreau to get information on.
    # @param [Hash] opts the optional parameters
    # @return [Bourreau]
    def bourreaux_id_get(id, opts = {})
      data, _status_code, _headers = bourreaux_id_get_with_http_info(id, opts)
      data
    end

    # Get information about a Bourreau.
    # This method returns a single Bourreau object based on the ID parameter. 
    # @param id ID of the Bourreau to get information on.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Bourreau, Fixnum, Hash)>] Bourreau data, response status code and response headers
    def bourreaux_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BourreauxApi.bourreaux_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BourreauxApi.bourreaux_id_get"
      end
      # resource path
      local_var_path = '/bourreaux/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BrainPortalSession']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Bourreau')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BourreauxApi#bourreaux_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
