=begin
#CBRAIN API

#API for interacting with the CBRAIN Platform

OpenAPI spec version: 5.1.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.4

=end

require 'uri'

module CbrainClient
  class ToolConfigsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a list of tool versions installed.
    # This method returns a list of tool config objects. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number when paginating. See also the per_page parameter
    # @option opts [Integer] :per_page Size of each page when paginating. See also the page parameter
    # @return [Array<ToolConfig>]
    def tool_configs_get(opts = {})
      data, _status_code, _headers = tool_configs_get_with_http_info(opts)
      data
    end

    # Get a list of tool versions installed.
    # This method returns a list of tool config objects. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number when paginating. See also the per_page parameter
    # @option opts [Integer] :per_page Size of each page when paginating. See also the page parameter
    # @return [Array<(Array<ToolConfig>, Fixnum, Hash)>] Array<ToolConfig> data, response status code and response headers
    def tool_configs_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolConfigsApi.tool_configs_get ...'
      end
      # resource path
      local_var_path = '/tool_configs'

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BrainPortalSession']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ToolConfig>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolConfigsApi#tool_configs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get information about a particular tool configuration
    # Returns the information about how a particular configuration of a tool on an execution server. 
    # @param id the ID of the configuration
    # @param [Hash] opts the optional parameters
    # @return [ToolConfig]
    def tool_configs_id_get(id, opts = {})
      data, _status_code, _headers = tool_configs_id_get_with_http_info(id, opts)
      data
    end

    # Get information about a particular tool configuration
    # Returns the information about how a particular configuration of a tool on an execution server. 
    # @param id the ID of the configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(ToolConfig, Fixnum, Hash)>] ToolConfig data, response status code and response headers
    def tool_configs_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolConfigsApi.tool_configs_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ToolConfigsApi.tool_configs_id_get"
      end
      # resource path
      local_var_path = '/tool_configs/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BrainPortalSession']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ToolConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolConfigsApi#tool_configs_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
